@import url("color.css");
/* colors definations */
.bg-rose-100 {
  background-color: #ffe4e6;
}
.bg-rose-200 {
  background-color: #fecdd3;
}
.bg-rose-300 {
  background-color: #fda4af;
}
.bg-rose-400 {
  background-color: #fb7185;
}
.bg-rose-500 {
  background-color: #f43f5e;
}
.bg-rose-600 {
  background-color: #e11d48;
}
.bg-rose-700 {
  background-color: #be123c;
}
.bg-rose-800 {
  background-color: #9f1239;
}
.bg-rose-900 {
  background-color: #881337;
}

/* end colors defination */

.hover\:bg-blue-700:hover {
  background-color: #2563eb;
}
.text-white {
  color: #fff;
}
.font-bold {
  font-weight: 700;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.rounded {
  border-radius: 0.25rem;
}
